body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00; /* Hřejivá barva pro pizzerii */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Tmavá barva textu */
}

nav ul li a:hover {
    color: #ff6600; /* Barva při najetí */
}

footer {
    background-color: #333; /* Tmavé pozadí patičky */
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
