/* Globální styly */
body {
    background-color: #002b5b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Kontejner pro obrázek */
#tree-container {
    position: relative;
    display: inline-block;
}

/* Obrázek stromečku */
.tree-image {
    width: 490px; /* Snížená velikost o 10px */
    height: auto;
    cursor: pointer;
    transition: transform 2s; /* Slower rotation for smoother effect */
    border-radius: 15px; /* Zaoblení rohů obrázku */
}

/* Efekt otáčení */
.tree-image.rotate {
    transform: rotateY(180deg); /* Rotate the image 180 degrees */
}

/* Zadní strana obrázku (text slevového kódu) */
#tree-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Increased transparency */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem; /* Larger font for better visibility */
    font-weight: bold; /* Bold text */
    border-radius: 15px; /* Zaoblení rohů textového pole */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Zobrazení zadní strany při otáčení */
.tree-image.rotate + #tree-back {
    visibility: visible;
    opacity: 1;
}
